 <tittle>Veiw Article</tittle>
     </head>
     <body>       
     <h1>Veiw Article</h1>
     <h1>Vmongodeiw Article</h1>
         <% console.log(.request.articles) %>
         <h2> Title: <%= request.articles.tittle %></h2>
          <P><%= request.articles.content %> </P>